 body {
     margin: 1rem 4rem;
     padding: 0;
     font-family: 'Montserrat', sans-serif;

 }

 #root {
     display: flex;
     justify-content: center;
 }

 .principal {
     width: 1235px;
     height: 100%;
 }

 /* barra de navegacion y logo */
 nav {
     display: flex;
     justify-content: space-between;
 }

 .nav {
     position: fixed;
     display: flex;
     justify-content: space-between;
     width: 100%;
     z-index: 20;
     height: 100%;
     top: 0px;
     left: 0;
     flex-direction: column;

     .opacity {
         display: block !important;
         height: 50%;
         width: 100%;
         background: #0000006e;
     }

     .contenedor-logo {
         display: none;
     }

     .inputsContainer {
         display: flex;
         align-items: center;
         width: 90%;
         height: 12%;
     }

     .sectionSearch {
         padding: 70px;
         width: 100%;
         height: 50%;
         background: white;
         display: flex;
         flex-direction: column;
     }

     .inputContainer {
         width: 100% !important;
     }

     .locationContainer {

         height: 100%;
         border-radius: 20px;
         display: flex;
         justify-content: center;
         padding-left: 35px;
         flex-direction: column;
         align-items: flex-start;
     }

     .guestsContainer {
         height: 100%;
         display: flex;
         justify-content: center;
         padding-left: 35px;
         flex-direction: column;
         align-items: flex-start;
     }

     .border {
         border: #333333 1px solid;
         border-radius: 20px;
     }

     :is(label) {
         font-size: 14px;
         display: block !important;
     }

     :is(button) {
         width: 48px;
         border-style: none;
         border-radius: 0;
         color: #ffffff;
         height: 100%;
         cursor: pointer;
         background: transparent;
     }

     .buttonDiv {
         display: flex;
         align-items: center;
         background: #eb5757;
         padding: 10px;
         border-radius: 10px;
         height: 100%;
         color: white;
         width: 95px;
     }

     .search {
         cursor: pointer;
         display: block !important;
     }

     .filter{
        font-size: 12px;
     }

     .descriptionContainer {
         display: flex !important;
         justify-content: space-between;
         width: 90%;
     }

     ul {
         list-style: none;
         display: flex;
         gap: 35px;
         flex-direction: column;
         padding-top: 30px;
     }

     li {
         display: flex;
         align-items: center;
         gap: 10px;
         cursor: pointer;
     }

     .description {
         width: 100%;
     }

     .coutContainer {
         padding: 20px 0 0 65px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }

     .count1 {
         display: flex;
         align-items: center;
         gap: 10px;
     }

     .count2 {
         display: flex;
         align-items: center;
         gap: 10px;
     }

     .countContainer1 h2 {
         font-size: 18px;
     }

     .countContainer2 h2 {
         font-size: 18px;
     }

     .countContainer1 p {
         font-size: 14px;
         color: #828282;
     }

     .countContainer2 p {
         font-size: 14px;
         color: #828282;
     }

     .show {
         opacity: 0;
     }

     .count1 img {
         cursor: pointer;
     }

     .count2 img {
         cursor: pointer;
     }

     .errorContent {
        color: red;
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
        width: 90%;
     }

     .errorContent::before {
         content: "Please complete all fields";
     }

     .dpNone {
         display: none;
     }

     .location {
        width: 95% !important;
        padding: 0 !important;
        text-align: left;
    }

    .location[placeholder] {
        color: #050505;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
    }

    .addGuest {
        width: 95% !important;
    }
 }

 .filterDiv{
    display: none;
 }

 .descriptionContainer {
     display: none;
 }

 .contenedor-logo {
     display: flex;
     align-items: center;
 }

 .logo {
     height: 20px;
 }

 .opacity {
     display: none;
 }

 .inputsContainer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 55px;
     width: 315px;
     border-radius: 10px;
     border-color: #F2F2F2;
     box-shadow: 0px 2px 9px #F2F2F2;
 }

 .inputContainer {
     border-right: 0.6px solid #F2F2F2;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3px;
 }

 .buttonContainer {
     width: 50%;
 }

 .location {
     border-style: none;
     width: 115px;
     padding: 0 15px 0 15px;
     cursor: pointer;
     text-align: center;
 }

 .location[placeholder] {
     color: #000000;
     font-weight: 500;
     font-size: 15px;
     font-family: 'Mulish', sans-serif;
 }

 label {
     display: none;
 }

 .search {
     display: none;
 }


 .location[type="text"]:focus {
     outline: none;
 }

 .addGuest {
     border-style: none;
     width: 68px;
 }

 .addGuest[placeholder] {
     color: #BDBDBD;
     font-size: 14px;
     font-family: 'Mulish', sans-serif;
 }

 .addGuest[type="text"]:focus {
     outline: none;
 }

 .hr2 {
     margin: 0 0 0 25px;
     width: 0.6px;
     border: 1px;
     height: 55px;
     background-color: #F2F2F2;
 }

 button {
     width: 55px;
     border-style: none;
     background-color: white;
     border-radius: 0 10px 10px 0;
     color: #EB5757;
     height: 25px;
     cursor: pointer;
 }

 #lupa {
     font-size: x-large;
     font-weight: 700;
 }

 /* seccion stay */
 .divStay {
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     height: 100px;
 }

 .stayText {
     font-size: 24px;
 }

 /* cards */
 main {
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     gap: 35px;
 }

 .cards {
     margin: 10px 0;
     width: 385px;
     display: flex;
     flex-direction: column;
 }

 img.photo {
     width: 390px;
     height: 270px;
     border-radius: 24px;
 }

 .indicationsContainer {
     display: flex;
     justify-content: space-between;
 }

 .typeContainer {
     display: flex;
     align-items: center;
 }

 .type {
     font-size: 14px;
     height: 18px;
     color: #828282;
 }

 .bed {
     font-size: 14px;
     height: 18px;
     color: #828282;
 }

 .starRting {
     display: flex;
     align-items: center;
 }

 #star {
     font-size: 20px;
     color: #EB5757;
 }

 .rating {
     font-size: 15px;
     color: #4F4F4F;
 }

 .title {
     font-size: 15px;
     color: #333333;
     margin: 0;
 }

 .superHost {
     border-color: #4F4F4F;
     border-radius: 20px;
     font-size: 13px;
     height: 25px;
     width: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Montserrat';
     margin: 0 5px 0 0;
     border: 1px solid #4f4f4f;
 }

 .loaderContainer {
     height: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .loader {
     width: 48px;
     height: 48px;
     margin: auto;
     position: relative;
 }

 .loader:before {
     content: '';
     width: 48px;
     height: 5px;
     background: #f0808050;
     position: absolute;
     top: 60px;
     left: 0;
     border-radius: 50%;
     animation: shadow324 0.5s linear infinite;
 }

 .loader:after {
     content: '';
     width: 100%;
     height: 100%;
     background: #f08080;
     position: absolute;
     top: 0;
     left: 0;
     border-radius: 4px;
     animation: jump7456 0.5s linear infinite;
 }

 @keyframes jump7456 {
     15% {
         border-bottom-right-radius: 3px;
     }

     25% {
         transform: translateY(9px) rotate(22.5deg);
     }

     50% {
         transform: translateY(18px) scale(1, .9) rotate(45deg);
         border-bottom-right-radius: 40px;
     }

     75% {
         transform: translateY(9px) rotate(67.5deg);
     }

     100% {
         transform: translateY(0) rotate(90deg);
     }
 }

 @keyframes shadow324 {

     0%,
     100% {
         transform: scale(1, 1);
     }

     50% {
         transform: scale(1.2, 1);
     }
 }